/* CSS */
html,
body {
  overflow: hidden;
  font-size: 4px;
  /* 
  @include respond-to($breakpoint-xs) {
    font-size: 2.8px;
  }

  @include respond-to($breakpoint-sm) {
    font-size: 3.2px;
  }

  @include respond-to($breakpoint-md) {
    font-size: 3.4px;
  }

  @include respond-to($breakpoint-lg) {
    font-size: 3.6px;
  }

  @include respond-to($breakpoint-xl) {
    font-size: 4px;
  } */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

// 定义滚动条轨道的背景色
*::-webkit-scrollbar-track {
  background: $themess;
}

// 定义滚动条的滑块（thumb）样式
*::-webkit-scrollbar-thumb {
  background-color: $themes;
  border-radius: 20px;
  cursor: grab;
}
